*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html{
    font-size: 62.5%;
}
body{
    
    position: relative;
}
main{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -3 ;
    background-color: rgb(176, 210, 236);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

li{
    list-style: none;
    font-size: 2rem;
    font-weight: 700;
    line-height: 5rem;
    color:rgb(35, 66, 149);
}
li:hover{
  border-block: 2px solid rgb(35, 66, 149);
}

.hambuger{
    width: 4rem;
    height: 4rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: -1;
   
    
}
i{
    font-size: 3rem;
    color:rgb(35, 66, 149);
}
.menu{
    width: 0;
    padding:0;
    background-color: rgb(176, 210, 236);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 4rem;
    transition: all 2s ease-in-out;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.112), -10px -10px 15px rgba(255, 255, 255, 0.106),
    inset 5px 5px 5px rgba(255, 255, 255, 0.218), inset -5px -5px 5px rgba(0, 0, 0, 0.106);
}
.menu div:last-child{
    font-size: 3rem;
    font-weight: 600;
}

.open{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.open h1{
    padding: 3rem;
    background-color: rgb(35, 66, 149);
    font-size: 3rem;
    font-weight: 600;
    color: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.112), -10px -10px 15px rgba(255, 255, 255, 0.106),
    inset 5px 5px 5px rgba(255, 255, 255, 0.218), inset -5px -5px 5px rgba(0, 0, 0, 0.106);
    border-radius: 20% 90% 20% 90% / 50% 90% 50% 90%;

}
.open h1:hover{
  
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.112), -10px -10px 15px rgba(255, 255, 255, 0.106),
    inset 5px 5px 5px rgba(255, 255, 255, 0.218), inset -5px -5px 5px rgba(0, 0, 0, 0.106);
    border-radius: 90% 20% 90% 20% / 90% 50% 90% 50%;

}

/* 
@media screen and (max-width: 525px) {
    html{
        font-size:50%;
    }
} */